.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    position: relative;
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    align-content: center;
    right: 30px;
    top: 15%;
    position: absolute;
}
.filters button:hover {
    opacity: 90%;
}
.locations {
    border-right: 1px solid #DDDDDD;
}
.locations, .amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    top: 0%;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.filters h3 {
    
    font-weight: 600;
    
}
.filters h4 {
    font-weight: 400;
    font-size: 14px;
}
.filters h3, .filters h4 {
    top: 15%;
    margin: 2px 20px;
}